<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
  <display-name>1</display-name>
  <!--配置过滤器-->
  <!--<filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  &lt;!&ndash;映射过滤器&ndash;&gt;
  <filter-mapping>
  <filter-name>LoginFilter</filter-name>
    &lt;!&ndash;“/*”表示拦截所有的请求 &ndash;&gt;
    <url-pattern>/*</url-pattern>
  </filter-mapping>-->
</web-app>