<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProductMapper">
    <!--商品查询 根据id-->
    <select id="queryProduct" resultType="Product">
       select * from shop.product where id=#{id};
    </select>
    <!--查询商品到主页-->
    <select id="queryAll" resultType="Product">
        select * from shop.product ;
    </select>
    <!--查询商品及商品图片路径-->
    <select id="queryProductAndPath" resultType="Product">
        select p.* ,pi.type from shop.product p , shop.productimage pi where p.id = pi.pid;
    </select>

</mapper>