<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SearchMapper">
    <select id="selectBySubTitle" resultType="Product">
        select p.* ,pi.type from shop.product p ,shop.productimage pi
        <where>
            1=1
            <if test="subTitle!=null">
                and p.id = pi.pid and p.subTitle like concat('%',concat(#{subTitle},'%'))
            </if>
        </where>
    </select>
    <select id="selectByCid" resultType="Product">
        select p.* ,pi.type from shop.product p ,shop.productimage pi where
        p.id = pi.pid and p.cid=#{cid}
    </select>
</mapper>