<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ShopCartMapper">
        <!--根据uid查出购物车信息-->
        <select id="queryShop" resultType="Orderitem">
            select * from shop.orderitem where uid=#{uid}
        </select>
        <!--根据得到的id查询商品信息-->
        <select id="query" resultType="Product">
            select p.* ,o.number,o.id otid,pi.type from shop.product p,shop.orderitem o,shop.productimage pi
            where p.id=o.cid and p.id= pi.pid and o.id=#{id};
        </select>
        <!--根据主键删除购物车信息-->
        <delete id="delById" parameterType="int" >
            delete  from shop.orderitem where id=#{id}
        </delete>
    <!--根据主键修改购物车商品数量number-->
        <update id="updNum"  >
            update shop.orderitem set number=#{number} where id=#{id}
        </update>
    <!--往购物车增加数据-->
        <insert id="insertShopCart" useGeneratedKeys="true" parameterType="Orderitem">
            insert into shop.orderitem(cid,number,uid) values (#{cid},#{number},#{uid})
        </insert>
</mapper>